@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;


/* Poppins font import */
@font-face {
  font-family: 'Poppins';
  src: url('https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLDz8Z1xlFQ.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

/* Pretendard font definitions */
@font-face {
  font-family: 'Pretendard';
  src: url('../fonts/Pretendard-Light.otf') format('opentype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  src: url('../fonts/Pretendard-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  src: url('../fonts/Pretendard-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  src: url('../fonts/Pretendard-ExtraBold.otf') format('opentype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  src: url('../fonts/Pretendard-SemiBold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

:root {
  --background: #FFF0EC;
  --foreground: #171717;
  --primary: #6B5B5B;
  --secondary: #F8D7D0;
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/* 다크모드 설정을 무시하고 라이트모드 색상을 유지 */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #FFF0EC;
    --foreground: #171717;
    --primary: #6B5B5B;
    --secondary: #F8D7D0;
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-gray: #A8A8A8;
  --color-pinkgray: #E0DAD8;
  --color-headergray: #828281;
  --color-darkgray: #444444;
  --color-darkpink: #DBB3B3;
  --color-orangepink: #D8C0B9;
  --color-lightpink: #FFF0EC;
  --color-chatpink: #F8D7D0;
  --color-brown: #906256;
  --color-darkbrown: #6F625F;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-poppins: Poppins, sans-serif;
}

.custom-shadow {
  box-shadow: 0px 4.364px 16px -2.182px rgba(0, 0, 0, 0.10);
}

.font-poppins {
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
}

html {
  height: 100%;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Pretendard', Arial, Helvetica, sans-serif;
  min-height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
}

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background: #D8C0B9;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #C4ACA5;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #D8C0B9 rgba(255, 255, 255, 0);
}

